In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import category_encoders as ce

from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler

# Importing of data

In [2]:
raw_data = pd.read_csv('fraud_oracle.csv')
raw_data.head(10)

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision
5,Oct,4,Friday,Honda,Urban,Wednesday,Nov,1,Male,Single,...,5 years,21 to 25,No,No,External,3 to 5,no change,1 vehicle,1994,Collision
6,Feb,1,Saturday,Honda,Urban,Monday,Feb,3,Male,Married,...,7 years,36 to 40,No,No,External,1 to 2,no change,1 vehicle,1994,Collision
7,Nov,1,Friday,Honda,Urban,Tuesday,Mar,4,Male,Single,...,new,16 to 17,No,No,External,none,no change,1 vehicle,1994,Collision
8,Dec,4,Saturday,Honda,Urban,Wednesday,Dec,5,Male,Single,...,6 years,31 to 35,No,Yes,External,3 to 5,no change,1 vehicle,1994,Collision
9,Apr,3,Tuesday,Ford,Urban,Wednesday,Apr,3,Male,Married,...,more than 7,36 to 40,No,No,External,3 to 5,no change,1 vehicle,1994,All Perils

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15420 entries, 0 to 15419
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15420 non-null  object
 1   WeekOfMonth           15420 non-null  int64
 2   DayOfWeek             15420 non-null  object
 3   Make                  15420 non-null  object
 4   AccidentArea          15420 non-null  object
 5   DayOfWeekClaimed      15420 non-null  object
 6   MonthClaimed          15420 non-null  object
 7   WeekOfMonthClaimed    15420 non-null  int64
 8   Sex                   15420 non-null  object
 9   MaritalStatus         15420 non-null  object
 10  Age                   15420 non-null  int64
 11  Fault                 15420 non-null  object
 12  PolicyType            15420 non-null  object
 13  VehicleCategory       15420 non-null  object
 14  VehiclePrice          15420 non-null  object
 15  FraudFound_P          15420 non-null  int64
 16  PolicyNumber          15420 non-null  int64
 17  RepNumber             15420 non-null  int64
 18  Deductible            15420 non-null  int64
 19  DriverRating          15420 non-null  int64
 20  Days_Policy_Accident  15420 non-null  object
 21  Days_Policy_Claim     15420 non-null  object
 22  PastNumberOfClaims    15420 non-null  object
 23  AgeOfVehicle          15420 non-null  object
 24  AgeOfPolicyHolder     15420 non-null  object
 25  PoliceReportFiled     15420 non-null  object
 26  WitnessPresent        15420 non-null  object
 27  AgentType             15420 non-null  object
 28  NumberOfSuppliments   15420 non-null  object
 29  AddressChange_Claim   15420 non-null  object
 30  NumberOfCars          15420 non-null  object
 31  Year                  15420 non-null  int64
 32  BasePolicy            15420 non-null  object
dtypes: int64(9), object(24)
memory usage: 3.9+ MB

In [4]:
raw_data.columns

Index(['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea',
       'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex',
       'MaritalStatus', 'Age', 'Fault', 'PolicyType', 'VehicleCategory',
       'VehiclePrice', 'FraudFound_P', 'PolicyNumber', 'RepNumber',
       'Deductible', 'DriverRating', 'Days_Policy_Accident',
       'Days_Policy_Claim', 'PastNumberOfClaims', 'AgeOfVehicle',
       'AgeOfPolicyHolder', 'PoliceReportFiled', 'WitnessPresent', 'AgentType',
       'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars', 'Year',
       'BasePolicy'],
      dtype='object')

In [5]:
raw_data.describe()

,WeekOfMonth,WeekOfMonthClaimed,Age,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Year
count,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000,15420.000000
mean,2.788586,2.693969,39.855707,0.059857,7710.500000,8.483268,407.704280,2.487808,1994.866472
std,1.287585,1.259115,13.492377,0.237230,4451.514911,4.599948,43.950998,1.119453,0.803313
min,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,300.000000,1.000000,1994.000000
25%,2.000000,2.000000,31.000000,0.000000,3855.750000,5.000000,400.000000,1.000000,1994.000000
50%,3.000000,3.000000,38.000000,0.000000,7710.500000,8.000000,400.000000,2.000000,1995.000000
75%,4.000000,4.000000,48.000000,0.000000,11565.250000,12.000000,400.000000,3.000000,1996.000000
max,5.000000,5.000000,80.000000,1.000000,15420.000000,16.000000,700.000000,4.000000,1996.000000

# Remove Outliers

In [6]:
# Remove Outlier for age is there is entries for Age = 0

raw_data = raw_data[raw_data['Age'] != 0]
raw_data.reset_index(inplace=True)
raw_data.drop("index", axis=1, inplace=True)

In [7]:
raw_data['FraudFound_P'].value_counts()

0    14208
1      892
Name: FraudFound_P, dtype: int64

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15100 entries, 0 to 15099
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 15100 non-null  object
 1   WeekOfMonth           15100 non-null  int64
 2   DayOfWeek             15100 non-null  object
 3   Make                  15100 non-null  object
 4   AccidentArea          15100 non-null  object
 5   DayOfWeekClaimed      15100 non-null  object
 6   MonthClaimed          15100 non-null  object
 7   WeekOfMonthClaimed    15100 non-null  int64
 8   Sex                   15100 non-null  object
 9   MaritalStatus         15100 non-null  object
 10  Age                   15100 non-null  int64
 11  Fault                 15100 non-null  object
 12  PolicyType            15100 non-null  object
 13  VehicleCategory       15100 non-null  object
 14  VehiclePrice          15100 non-null  object
 15  FraudFound_P          15100 non-null  int64
 16  PolicyNumber          15100 non-null  int64
 17  RepNumber             15100 non-null  int64
 18  Deductible            15100 non-null  int64
 19  DriverRating          15100 non-null  int64
 20  Days_Policy_Accident  15100 non-null  object
 21  Days_Policy_Claim     15100 non-null  object
 22  PastNumberOfClaims    15100 non-null  object
 23  AgeOfVehicle          15100 non-null  object
 24  AgeOfPolicyHolder     15100 non-null  object
 25  PoliceReportFiled     15100 non-null  object
 26  WitnessPresent        15100 non-null  object
 27  AgentType             15100 non-null  object
 28  NumberOfSuppliments   15100 non-null  object
 29  AddressChange_Claim   15100 non-null  object
 30  NumberOfCars          15100 non-null  object
 31  Year                  15100 non-null  int64
 32  BasePolicy            15100 non-null  object
dtypes: int64(9), object(24)
memory usage: 3.8+ MB

# Feature selection using f_classif and mutual_info_classif

In [9]:
raw_data['RepNumber'] = raw_data['RepNumber'].astype(str)
raw_data['WeekOfMonth'] = raw_data['WeekOfMonth'].astype(str)
raw_data['WeekOfMonthClaimed'] = raw_data['WeekOfMonthClaimed'].astype(str)

In [10]:
def split_columns_temp(df):
    cat_lst = []
    num_lst = []
    for name in df.columns:
        if name in ["FraudFound_P", "PolicyNumber","Days_Policy_Accident","PolicyType"]:
            continue
        if df[name].dtype != 'object':
            num_lst.append(name)
        else:
            cat_lst.append(name)

    return cat_lst, num_lst

In [11]:
categorical_lst, num_lst = split_columns_temp(raw_data)
print("Categorical Variables: ",categorical_lst)
print("Numerical Variables:",num_lst)

Categorical Variables:  ['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea', 'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex', 'MaritalStatus', 'Fault', 'VehicleCategory', 'VehiclePrice', 'RepNumber', 'Days_Policy_Claim', 'PastNumberOfClaims', 'AgeOfVehicle', 'AgeOfPolicyHolder', 'PoliceReportFiled', 'WitnessPresent', 'AgentType', 'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars', 'BasePolicy']
Numerical Variables: ['Age', 'Deductible', 'DriverRating', 'Year']

In [12]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif, mutual_info_classif

X, y = raw_data[num_lst], raw_data['FraudFound_P']

# Take top 50% for each classifier
proportion = 0.5
k = int(len(num_lst) * proportion)

# Populate features list
numerical_features = []
mutual_info = lambda x,y: mutual_info_classif(x, y, random_state=0)
mutual_info.__name__ = "mutual_info_classif"

for classif in [f_classif, mutual_info]:
    selector = SelectKBest(classif, k=k)
    selector.fit_transform(X, y)
    mask = selector.get_support()
    new_features = list(X.columns[mask])
    print(classif.__name__, new_features)
    numerical_features.extend(new_features)

# Retain unique elements
numerical_features = list(set(numerical_features))
numerical_features

f_classif ['Age', 'Deductible']
mutual_info_classif ['Age', 'Deductible']

['Deductible', 'Age']

In [13]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, mutual_info_classif

# Encode categorical variables
label_encoder = LabelEncoder()
df = raw_data.copy()
X, y = df[categorical_lst], df['FraudFound_P']
for var in categorical_lst:
    X[var] = label_encoder.fit_transform(raw_data[var])

# We take top 50% for each classifier
proportion = 0.5
k = int(len(categorical_lst) * proportion)

# Populate features list
categorical_features = []
mutual_info = lambda x,y: mutual_info_classif(x, y, random_state=0)
mutual_info.__name__ = "mutual_info_classif"

for classif in [chi2, mutual_info]:
    selector = SelectKBest(classif, k=k)
    selector.fit_transform(X, y)
    mask = selector.get_support()
    new_features = list(X.columns[mask])
    print(classif.__name__, new_features)
    categorical_features.extend(new_features)

# Retain unique elements
categorical_features = list(set(categorical_features))
categorical_features

chi2 ['DayOfWeek', 'Make', 'MonthClaimed', 'Fault', 'VehicleCategory', 'VehiclePrice', 'PastNumberOfClaims', 'AgeOfVehicle', 'AgeOfPolicyHolder', 'PoliceReportFiled', 'AgentType', 'BasePolicy']

C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])
C:\Users\hein_\AppData\Local\Temp\ipykernel_32136\3487875446.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[var] = label_encoder.fit_transform(raw_data[var])

mutual_info_classif ['DayOfWeek', 'AccidentArea', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex', 'Fault', 'VehicleCategory', 'Days_Policy_Claim', 'PastNumberOfClaims', 'NumberOfSuppliments', 'AddressChange_Claim', 'BasePolicy']

['Fault',
 'MonthClaimed',
 'AgeOfVehicle',
 'Days_Policy_Claim',
 'BasePolicy',
 'PastNumberOfClaims',
 'AgeOfPolicyHolder',
 'PoliceReportFiled',
 'WeekOfMonthClaimed',
 'AddressChange_Claim',
 'NumberOfSuppliments',
 'Sex',
 'AgentType',
 'VehicleCategory',
 'VehiclePrice',
 'Make',
 'DayOfWeek',
 'AccidentArea']

In [14]:
final_features = []

In [15]:
final_features.extend(numerical_features)
final_features.extend(categorical_features)
final_features.append('FraudFound_P')

In [16]:
final_features

['Deductible',
 'Age',
 'Fault',
 'MonthClaimed',
 'AgeOfVehicle',
 'Days_Policy_Claim',
 'BasePolicy',
 'PastNumberOfClaims',
 'AgeOfPolicyHolder',
 'PoliceReportFiled',
 'WeekOfMonthClaimed',
 'AddressChange_Claim',
 'NumberOfSuppliments',
 'Sex',
 'AgentType',
 'VehicleCategory',
 'VehiclePrice',
 'Make',
 'DayOfWeek',
 'AccidentArea',
 'FraudFound_P']

# After looking at the data, we have narrowed down to the following features to be included in our final dataframe.

In [17]:
final_df = raw_data[final_features].copy()

In [18]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15100 entries, 0 to 15099
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Deductible           15100 non-null  int64
 1   Age                  15100 non-null  int64
 2   Fault                15100 non-null  object
 3   MonthClaimed         15100 non-null  object
 4   AgeOfVehicle         15100 non-null  object
 5   Days_Policy_Claim    15100 non-null  object
 6   BasePolicy           15100 non-null  object
 7   PastNumberOfClaims   15100 non-null  object
 8   AgeOfPolicyHolder    15100 non-null  object
 9   PoliceReportFiled    15100 non-null  object
 10  WeekOfMonthClaimed   15100 non-null  object
 11  AddressChange_Claim  15100 non-null  object
 12  NumberOfSuppliments  15100 non-null  object
 13  Sex                  15100 non-null  object
 14  AgentType            15100 non-null  object
 15  VehicleCategory      15100 non-null  object
 16  VehiclePrice         15100 non-null  object
 17  Make                 15100 non-null  object
 18  DayOfWeek            15100 non-null  object
 19  AccidentArea         15100 non-null  object
 20  FraudFound_P         15100 non-null  int64
dtypes: int64(3), object(18)
memory usage: 2.4+ MB

### Binary Categorical Variables

In [19]:
for column in categorical_features:
    if len(final_df[column].unique()) == 2:
        print(column, final_df[column].unique())
        print()

Fault ['Policy Holder' 'Third Party']

PoliceReportFiled ['No' 'Yes']

Sex ['Female' 'Male']

AgentType ['External' 'Internal']

AccidentArea ['Urban' 'Rural']

### Multi-categorical Variables

In [20]:
for column in categorical_features:
    if len(final_df[column].unique()) > 2:
        print(column, final_df[column].unique())
        print()

MonthClaimed ['Jan' 'Nov' 'Jul' 'Feb' 'Dec' 'Apr' 'Mar' 'Aug' 'May' 'Jun' 'Sep' 'Oct']

AgeOfVehicle ['3 years' '6 years' '7 years' 'more than 7' '5 years' '4 years' '2 years'
 'new']

Days_Policy_Claim ['more than 30' '15 to 30' '8 to 15']

BasePolicy ['Liability' 'Collision' 'All Perils']

PastNumberOfClaims ['none' '1' '2 to 4' 'more than 4']

AgeOfPolicyHolder ['26 to 30' '31 to 35' '41 to 50' '51 to 65' '21 to 25' '36 to 40'
 'over 65' '18 to 20']

WeekOfMonthClaimed ['1' '4' '2' '3' '5']

AddressChange_Claim ['1 year' 'no change' '4 to 8 years' '2 to 3 years' 'under 6 months']

NumberOfSuppliments ['none' 'more than 5' '3 to 5' '1 to 2']

VehicleCategory ['Sport' 'Utility' 'Sedan']

VehiclePrice ['more than 69000' '20000 to 29000' '30000 to 39000' 'less than 20000'
 '40000 to 59000' '60000 to 69000']

Make ['Honda' 'Toyota' 'Ford' 'Mazda' 'Chevrolet' 'Pontiac' 'Accura' 'Dodge'
 'Mercury' 'Jaguar' 'Nisson' 'VW' 'Saab' 'Saturn' 'Porche' 'BMW' 'Mecedes'
 'Ferrari' 'Lexus']

DayOfWeek ['Wednesday' 'Friday' 'Saturday' 'Monday' 'Tuesday' 'Sunday' 'Thursday']

## Ordinal Features
1) AgeOfPolicyHolder
2) PastNumberOfClaims
3) VehiclePrice
4) NumberOfSuppliments
5) Days_Policy_Claim

In [21]:
ordinal_features = ['AgeOfPolicyHolder','PastNumberOfClaims',
                    'VehiclePrice','NumberOfSuppliments','Days_Policy_Claim']

# Feature Engineering and Preprocessing

In [22]:
def split_columns_by_Dtypes(df):
    binary_lst = []
    categorical_lst = []
    num_lst = []
    for name in df.columns:
        length = len(df[name].unique())
        if df[name].dtype != 'object':
            num_lst.append(name)
        elif length == 2:
            binary_lst.append(name)
        else:
            categorical_lst.append(name)
    return binary_lst, categorical_lst, num_lst

In [23]:
def convert_label(df, columns):
    for name in columns:
        encoder = LabelEncoder()
        df[name] = encoder.fit_transform(df[name])
    return df

In [24]:
def oneHotEncode(df, lst):
    ohe = OneHotEncoder()
    output_array = ohe.fit_transform(df[lst]).toarray()
    df[ohe.get_feature_names_out()] = output_array
    return df

In [25]:
def scaler(df,columns):
    age = []
    deductible = []
    scaler = MinMaxScaler()
    output = scaler.fit_transform(df[columns])
    for row in output:
        age.append(row[0])
        deductible.append(row[1])
    df['Age'] = age
    df['Deductible'] = deductible
    return df

In [26]:
def convert_ordinal(df, name, mapping):
    encoder = LabelEncoder()
    encoder.classes_ = [str(category) for category, _ in sorted(mapping.items(), key=lambda x: x[1])]
    df[name] = encoder.fit_transform(df[name])
    return df

In [27]:
def count_encoder(df, columns):
    for name in columns:
        encoder = ce.CountEncoder(cols=name, normalize=True)
        df[name] = encoder.fit_transform(df[name])
    return df

In [28]:
binary_lst, categorical_lst, num_lst = split_columns_by_Dtypes(final_df)

In [29]:
multicat_features = [feature for feature in categorical_lst if feature not in ordinal_features]
multicat_features.remove('MonthClaimed')
multicat_features.remove('Make')

print("Binary Variable:",binary_lst)
print("Multi-Categorical Variable:",multicat_features)
print("Numerical:",num_lst)
print("Ordinal:", ordinal_features)
print("CountEncoder", ['Make','MonthClaimed'])

Binary Variable: ['Fault', 'PoliceReportFiled', 'Sex', 'AgentType', 'AccidentArea']
Multi-Categorical Variable: ['AgeOfVehicle', 'BasePolicy', 'WeekOfMonthClaimed', 'AddressChange_Claim', 'VehicleCategory', 'DayOfWeek']
Numerical: ['Deductible', 'Age', 'FraudFound_P']
Ordinal: ['AgeOfPolicyHolder', 'PastNumberOfClaims', 'VehiclePrice', 'NumberOfSuppliments', 'Days_Policy_Claim']
CountEncoder ['Make', 'MonthClaimed']

# Encoding all the categorical variables using helper functions

## Label Encoding for Binary Features

In [30]:
convert_label(final_df, binary_lst)

,Deductible,Age,Fault,MonthClaimed,AgeOfVehicle,Days_Policy_Claim,BasePolicy,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,...,AddressChange_Claim,NumberOfSuppliments,Sex,AgentType,VehicleCategory,VehiclePrice,Make,DayOfWeek,AccidentArea,FraudFound_P
0,300,21,0,Jan,3 years,more than 30,Liability,none,26 to 30,0,...,1 year,none,0,0,Sport,more than 69000,Honda,Wednesday,1,0
1,400,34,0,Jan,6 years,more than 30,Collision,none,31 to 35,1,...,no change,none,1,0,Sport,more than 69000,Honda,Wednesday,1,0
2,400,47,0,Nov,7 years,more than 30,Collision,1,41 to 50,0,...,no change,none,1,0,Sport,more than 69000,Honda,Friday,1,0
3,400,65,1,Jul,more than 7,more than 30,Liability,1,51 to 65,1,...,no change,more than 5,1,0,Sport,20000 to 29000,Toyota,Saturday,0,0
4,400,27,1,Feb,5 years,more than 30,Collision,none,31 to 35,0,...,no change,none,0,0,Sport,more than 69000,Honda,Monday,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15095,400,35,0,Nov,6 years,more than 30,Collision,2 to 4,31 to 35,0,...,no change,none,1,0,Sedan,20000 to 29000,Toyota,Friday,1,1
15096,400,30,0,Dec,6 years,more than 30,Liability,more than 4,31 to 35,0,...,no change,more than 5,1,0,Sport,30000 to 39000,Pontiac,Thursday,1,0
15097,400,24,0,Dec,5 years,more than 30,Collision,more than 4,26 to 30,0,...,no change,1 to 2,1,0,Sedan,20000 to 29000,Toyota,Thursday,0,1
15098,400,34,1,Dec,2 years,more than 30,All Perils,none,31 to 35,0,...,no change,more than 5,0,0,Sedan,20000 to 29000,Toyota,Monday,1,0
15099,400,21,0,Dec,5 years,more than 30,Collision,none,26 to 30,0,...,no change,1 to 2,1,0,Sedan,20000 to 29000,Toyota,Wednesday,1,1

## One Hot Encoding

In [31]:
oneHotEncode(final_df,multicat_features)

,Deductible,Age,Fault,MonthClaimed,AgeOfVehicle,Days_Policy_Claim,BasePolicy,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,...,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,300,21,0,Jan,3 years,more than 30,Liability,none,26 to 30,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,400,34,0,Jan,6 years,more than 30,Collision,none,31 to 35,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,400,47,0,Nov,7 years,more than 30,Collision,1,41 to 50,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,400,65,1,Jul,more than 7,more than 30,Liability,1,51 to 65,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,400,27,1,Feb,5 years,more than 30,Collision,none,31 to 35,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15095,400,35,0,Nov,6 years,more than 30,Collision,2 to 4,31 to 35,0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15096,400,30,0,Dec,6 years,more than 30,Liability,more than 4,31 to 35,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15097,400,24,0,Dec,5 years,more than 30,Collision,more than 4,26 to 30,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15098,400,34,1,Dec,2 years,more than 30,All Perils,none,31 to 35,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15099,400,21,0,Dec,5 years,more than 30,Collision,none,26 to 30,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Scaling of Numberical Features

In [32]:
# We do not want to scale the label
scaler(final_df, ['Age','Deductible'])

,Deductible,Age,Fault,MonthClaimed,AgeOfVehicle,Days_Policy_Claim,BasePolicy,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,...,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,0.00,0.078125,0,Jan,3 years,more than 30,Liability,none,26 to 30,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.25,0.281250,0,Jan,6 years,more than 30,Collision,none,31 to 35,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.25,0.484375,0,Nov,7 years,more than 30,Collision,1,41 to 50,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.25,0.765625,1,Jul,more than 7,more than 30,Liability,1,51 to 65,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.25,0.171875,1,Feb,5 years,more than 30,Collision,none,31 to 35,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15095,0.25,0.296875,0,Nov,6 years,more than 30,Collision,2 to 4,31 to 35,0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15096,0.25,0.218750,0,Dec,6 years,more than 30,Liability,more than 4,31 to 35,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15097,0.25,0.125000,0,Dec,5 years,more than 30,Collision,more than 4,26 to 30,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15098,0.25,0.281250,1,Dec,2 years,more than 30,All Perils,none,31 to 35,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15099,0.25,0.078125,0,Dec,5 years,more than 30,Collision,none,26 to 30,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Label Encoding for Ordinal Features

In [33]:
ordinal_features

['AgeOfPolicyHolder',
 'PastNumberOfClaims',
 'VehiclePrice',
 'NumberOfSuppliments',
 'Days_Policy_Claim']

In [34]:
age_policy_holder_mapping = {'26 to 30': 2, '31 to 35':3, '41 to 50': 5, '51 to 65': 6, '21 to 25': 1, '36 to 40':4, 'over 65': 7, '18 to 20': 0}
past_number_of_claims_mapping = {'none': 0, '1': 1, '2 to 4': 2, 'more than 4': 3}
vehicle_price_mapping = {'more than 69000': 5, '20000 to 29000': 1, '30000 to 39000': 2, 'less than 20000': 0, '40000 to 59000': 3, '60000 to 69000': 4}
NoS_mapping = {'none':0, '1 to 2':1, '3 to 5':2, 'more than 5':3}
DPC_mapping = {'none':0, '8 to 15':1, '15 to 30':2, 'more than 30':3}

mapper_lst = [age_policy_holder_mapping, past_number_of_claims_mapping, vehicle_price_mapping, NoS_mapping,DPC_mapping]

mapper_lst

[{'26 to 30': 2,
  '31 to 35': 3,
  '41 to 50': 5,
  '51 to 65': 6,
  '21 to 25': 1,
  '36 to 40': 4,
  'over 65': 7,
  '18 to 20': 0},
 {'none': 0, '1': 1, '2 to 4': 2, 'more than 4': 3},
 {'more than 69000': 5,
  '20000 to 29000': 1,
  '30000 to 39000': 2,
  'less than 20000': 0,
  '40000 to 59000': 3,
  '60000 to 69000': 4},
 {'none': 0, '1 to 2': 1, '3 to 5': 2, 'more than 5': 3},
 {'none': 0, '8 to 15': 1, '15 to 30': 2, 'more than 30': 3}]

In [35]:
for i in range(0,5):
    convert_ordinal(final_df, ordinal_features[i], mapper_lst[i]);

## Frequency Encoding for Categorical Variables with more than 10 categories

In [36]:
count_encoder(final_df, ['Make','MonthClaimed'])

,Deductible,Age,Fault,MonthClaimed,AgeOfVehicle,Days_Policy_Claim,BasePolicy,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,...,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,0.00,0.078125,0,0.091060,3 years,2,Liability,3,2,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.25,0.281250,0,0.091060,6 years,2,Collision,3,3,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.25,0.484375,0,0.084503,7 years,2,Collision,0,5,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.25,0.765625,1,0.080530,more than 7,2,Liability,0,6,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.25,0.171875,1,0.082119,5 years,2,Collision,3,3,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15095,0.25,0.296875,0,0.084503,6 years,2,Collision,1,3,0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15096,0.25,0.218750,0,0.075430,6 years,2,Liability,2,3,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15097,0.25,0.125000,0,0.075430,5 years,2,Collision,2,2,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15098,0.25,0.281250,1,0.075430,2 years,2,All Perils,3,3,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15099,0.25,0.078125,0,0.075430,5 years,2,Collision,3,2,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [37]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15100 entries, 0 to 15099
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Deductible                          15100 non-null  float64
 1   Age                                 15100 non-null  float64
 2   Fault                               15100 non-null  int32
 3   MonthClaimed                        15100 non-null  float64
 4   AgeOfVehicle                        15100 non-null  object
 5   Days_Policy_Claim                   15100 non-null  int32
 6   BasePolicy                          15100 non-null  object
 7   PastNumberOfClaims                  15100 non-null  int32
 8   AgeOfPolicyHolder                   15100 non-null  int32
 9   PoliceReportFiled                   15100 non-null  int32
 10  WeekOfMonthClaimed                  15100 non-null  object
 11  AddressChange_Claim                 15100 non-null  object
 12  NumberOfSuppliments                 15100 non-null  int32
 13  Sex                                 15100 non-null  int32
 14  AgentType                           15100 non-null  int32
 15  VehicleCategory                     15100 non-null  object
 16  VehiclePrice                        15100 non-null  int32
 17  Make                                15100 non-null  float64
 18  DayOfWeek                           15100 non-null  object
 19  AccidentArea                        15100 non-null  int32
 20  FraudFound_P                        15100 non-null  int64
 21  AgeOfVehicle_2 years                15100 non-null  float64
 22  AgeOfVehicle_3 years                15100 non-null  float64
 23  AgeOfVehicle_4 years                15100 non-null  float64
 24  AgeOfVehicle_5 years                15100 non-null  float64
 25  AgeOfVehicle_6 years                15100 non-null  float64
 26  AgeOfVehicle_7 years                15100 non-null  float64
 27  AgeOfVehicle_more than 7            15100 non-null  float64
 28  AgeOfVehicle_new                    15100 non-null  float64
 29  BasePolicy_All Perils               15100 non-null  float64
 30  BasePolicy_Collision                15100 non-null  float64
 31  BasePolicy_Liability                15100 non-null  float64
 32  WeekOfMonthClaimed_1                15100 non-null  float64
 33  WeekOfMonthClaimed_2                15100 non-null  float64
 34  WeekOfMonthClaimed_3                15100 non-null  float64
 35  WeekOfMonthClaimed_4                15100 non-null  float64
 36  WeekOfMonthClaimed_5                15100 non-null  float64
 37  AddressChange_Claim_1 year          15100 non-null  float64
 38  AddressChange_Claim_2 to 3 years    15100 non-null  float64
 39  AddressChange_Claim_4 to 8 years    15100 non-null  float64
 40  AddressChange_Claim_no change       15100 non-null  float64
 41  AddressChange_Claim_under 6 months  15100 non-null  float64
 42  VehicleCategory_Sedan               15100 non-null  float64
 43  VehicleCategory_Sport               15100 non-null  float64
 44  VehicleCategory_Utility             15100 non-null  float64
 45  DayOfWeek_Friday                    15100 non-null  float64
 46  DayOfWeek_Monday                    15100 non-null  float64
 47  DayOfWeek_Saturday                  15100 non-null  float64
 48  DayOfWeek_Sunday                    15100 non-null  float64
 49  DayOfWeek_Thursday                  15100 non-null  float64
 50  DayOfWeek_Tuesday                   15100 non-null  float64
 51  DayOfWeek_Wednesday                 15100 non-null  float64
dtypes: float64(35), int32(10), int64(1), object(6)
memory usage: 5.4+ MB

In [38]:
final_df.head()

,Deductible,Age,Fault,MonthClaimed,AgeOfVehicle,Days_Policy_Claim,BasePolicy,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,...,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,0.00,0.078125,0,0.091060,3 years,2,Liability,3,2,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.25,0.281250,0,0.091060,6 years,2,Collision,3,3,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.25,0.484375,0,0.084503,7 years,2,Collision,0,5,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.25,0.765625,1,0.080530,more than 7,2,Liability,0,6,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.25,0.171875,1,0.082119,5 years,2,Collision,3,3,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

# Clean up the dataset to remove unnecessary columns

In [39]:
final_df.drop(multicat_features, axis=1, inplace=True)

In [40]:
final_df.reset_index(inplace = True)
final_df.drop('index', axis=1, inplace=True)

In [41]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15100 entries, 0 to 15099
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Deductible                          15100 non-null  float64
 1   Age                                 15100 non-null  float64
 2   Fault                               15100 non-null  int32
 3   MonthClaimed                        15100 non-null  float64
 4   Days_Policy_Claim                   15100 non-null  int32
 5   PastNumberOfClaims                  15100 non-null  int32
 6   AgeOfPolicyHolder                   15100 non-null  int32
 7   PoliceReportFiled                   15100 non-null  int32
 8   NumberOfSuppliments                 15100 non-null  int32
 9   Sex                                 15100 non-null  int32
 10  AgentType                           15100 non-null  int32
 11  VehiclePrice                        15100 non-null  int32
 12  Make                                15100 non-null  float64
 13  AccidentArea                        15100 non-null  int32
 14  FraudFound_P                        15100 non-null  int64
 15  AgeOfVehicle_2 years                15100 non-null  float64
 16  AgeOfVehicle_3 years                15100 non-null  float64
 17  AgeOfVehicle_4 years                15100 non-null  float64
 18  AgeOfVehicle_5 years                15100 non-null  float64
 19  AgeOfVehicle_6 years                15100 non-null  float64
 20  AgeOfVehicle_7 years                15100 non-null  float64
 21  AgeOfVehicle_more than 7            15100 non-null  float64
 22  AgeOfVehicle_new                    15100 non-null  float64
 23  BasePolicy_All Perils               15100 non-null  float64
 24  BasePolicy_Collision                15100 non-null  float64
 25  BasePolicy_Liability                15100 non-null  float64
 26  WeekOfMonthClaimed_1                15100 non-null  float64
 27  WeekOfMonthClaimed_2                15100 non-null  float64
 28  WeekOfMonthClaimed_3                15100 non-null  float64
 29  WeekOfMonthClaimed_4                15100 non-null  float64
 30  WeekOfMonthClaimed_5                15100 non-null  float64
 31  AddressChange_Claim_1 year          15100 non-null  float64
 32  AddressChange_Claim_2 to 3 years    15100 non-null  float64
 33  AddressChange_Claim_4 to 8 years    15100 non-null  float64
 34  AddressChange_Claim_no change       15100 non-null  float64
 35  AddressChange_Claim_under 6 months  15100 non-null  float64
 36  VehicleCategory_Sedan               15100 non-null  float64
 37  VehicleCategory_Sport               15100 non-null  float64
 38  VehicleCategory_Utility             15100 non-null  float64
 39  DayOfWeek_Friday                    15100 non-null  float64
 40  DayOfWeek_Monday                    15100 non-null  float64
 41  DayOfWeek_Saturday                  15100 non-null  float64
 42  DayOfWeek_Sunday                    15100 non-null  float64
 43  DayOfWeek_Thursday                  15100 non-null  float64
 44  DayOfWeek_Tuesday                   15100 non-null  float64
 45  DayOfWeek_Wednesday                 15100 non-null  float64
dtypes: float64(35), int32(10), int64(1)
memory usage: 4.7 MB

In [42]:
final_df.head()

,Deductible,Age,Fault,MonthClaimed,Days_Policy_Claim,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,NumberOfSuppliments,Sex,...,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,0.00,0.078125,0,0.091060,2,3,2,0,3,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.25,0.281250,0,0.091060,2,3,3,1,3,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.25,0.484375,0,0.084503,2,0,5,0,3,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.25,0.765625,1,0.080530,2,0,6,1,2,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.25,0.171875,1,0.082119,2,3,3,0,3,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

# Train Test split

In [43]:
x_var = [i for i in list(final_df.columns) if i != 'FraudFound_P']
y_var = ['FraudFound_P']

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X, X_test, y, y_test = train_test_split(final_df[x_var], final_df[y_var],
                                        test_size=0.1, random_state=19,
                                        stratify=final_df[y_var])

In [46]:
X_1 = X[y['FraudFound_P'] == 1].reset_index()
X_1 = X_1.drop('index',axis=1)
X_1

,Deductible,Age,Fault,MonthClaimed,Days_Policy_Claim,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,NumberOfSuppliments,Sex,...,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,0.25,0.187500,0,0.080596,2,2,3,0,2,1,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.25,0.578125,0,0.074040,2,1,5,0,3,0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.25,0.171875,0,0.091060,2,1,3,0,0,1,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.25,0.578125,0,0.084503,2,3,5,0,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.25,0.312500,0,0.075430,2,3,4,0,3,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,0.25,0.875000,0,0.080596,2,1,7,0,2,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
799,0.25,0.156250,0,0.088543,2,3,3,0,3,1,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
800,0.25,0.171875,0,0.088543,2,1,3,0,2,1,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
801,0.25,0.328125,0,0.091060,2,1,4,0,0,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
802,0.25,0.484375,0,0.085960,2,1,5,0,3,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
X_1['FraudFound_P'] = 1
X_1

,Deductible,Age,Fault,MonthClaimed,Days_Policy_Claim,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,NumberOfSuppliments,Sex,...,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,FraudFound_P
0,0.25,0.187500,0,0.080596,2,2,3,0,2,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1,0.25,0.578125,0,0.074040,2,1,5,0,3,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.25,0.171875,0,0.091060,2,1,3,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
3,0.25,0.578125,0,0.084503,2,3,5,0,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,0.25,0.312500,0,0.075430,2,3,4,0,3,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,0.25,0.875000,0,0.080596,2,1,7,0,2,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
799,0.25,0.156250,0,0.088543,2,3,3,0,3,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
800,0.25,0.171875,0,0.088543,2,1,3,0,2,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
801,0.25,0.328125,0,0.091060,2,1,4,0,0,1,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
802,0.25,0.484375,0,0.085960,2,1,5,0,3,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

In [48]:
X_0 = X[y['FraudFound_P'] != 1].reset_index()
X_0 = X_0.drop('index',axis=1)
X_0 = X_0[:803]
X_0

,Deductible,Age,Fault,MonthClaimed,Days_Policy_Claim,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,NumberOfSuppliments,Sex,...,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,0.25,0.218750,0,0.080596,2,0,3,0,3,1,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.25,0.156250,0,0.074040,2,1,3,0,0,1,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.25,0.234375,0,0.081921,2,1,3,0,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.50,0.531250,1,0.080530,2,3,5,0,1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.25,0.234375,0,0.080530,2,1,3,0,3,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,0.25,0.250000,0,0.074040,2,3,3,0,3,0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
799,0.25,0.218750,0,0.085960,2,1,3,0,3,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
800,0.25,0.328125,0,0.080596,2,3,4,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
801,0.25,0.500000,0,0.084172,2,1,5,0,3,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
802,0.25,0.234375,0,0.084172,2,3,3,0,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [49]:
X_0['FraudFound_P'] = 0
X_0

,Deductible,Age,Fault,MonthClaimed,Days_Policy_Claim,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,NumberOfSuppliments,Sex,...,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,FraudFound_P
0,0.25,0.218750,0,0.080596,2,0,3,0,3,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
1,0.25,0.156250,0,0.074040,2,1,3,0,0,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.25,0.234375,0,0.081921,2,1,3,0,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,0.50,0.531250,1,0.080530,2,3,5,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,0.25,0.234375,0,0.080530,2,1,3,0,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,0.25,0.250000,0,0.074040,2,3,3,0,3,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
799,0.25,0.218750,0,0.085960,2,1,3,0,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
800,0.25,0.328125,0,0.080596,2,3,4,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
801,0.25,0.500000,0,0.084172,2,1,5,0,3,1,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
802,0.25,0.234375,0,0.084172,2,3,3,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [50]:
balance_df = pd.concat([X_1,X_0])
balance_df

,Deductible,Age,Fault,MonthClaimed,Days_Policy_Claim,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,NumberOfSuppliments,Sex,...,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,FraudFound_P
0,0.25,0.187500,0,0.080596,2,2,3,0,2,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1,0.25,0.578125,0,0.074040,2,1,5,0,3,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.25,0.171875,0,0.091060,2,1,3,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
3,0.25,0.578125,0,0.084503,2,3,5,0,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
4,0.25,0.312500,0,0.075430,2,3,4,0,3,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798,0.25,0.250000,0,0.074040,2,3,3,0,3,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
799,0.25,0.218750,0,0.085960,2,1,3,0,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
800,0.25,0.328125,0,0.080596,2,3,4,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
801,0.25,0.500000,0,0.084172,2,1,5,0,3,1,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
802,0.25,0.234375,0,0.084172,2,3,3,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [51]:
y_1 = y[y['FraudFound_P'] == 1]
y_1

       FraudFound_P
1887              1
5360              1
194               1
7689              1
8496              1
...             ...
11011             1
14628             1
6442              1
491               1
1823              1

[803 rows x 1 columns]

In [52]:
shuffled_df = balance_df.sample(frac=1, random_state=19)
shuffled_df = shuffled_df.reset_index()
shuffled_df = shuffled_df.drop('index', axis=1)
shuffled_df

,Deductible,Age,Fault,MonthClaimed,Days_Policy_Claim,PastNumberOfClaims,AgeOfPolicyHolder,PoliceReportFiled,NumberOfSuppliments,Sex,...,VehicleCategory_Sport,VehicleCategory_Utility,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,FraudFound_P
0,0.25,0.421875,0,0.075430,2,3,4,0,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
1,0.25,0.468750,0,0.084503,2,3,5,0,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2,0.25,0.203125,0,0.081921,2,0,3,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
3,0.25,0.296875,0,0.082119,2,0,3,0,3,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
4,0.25,0.187500,0,0.091126,2,1,3,0,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,0.25,0.390625,0,0.088543,2,3,4,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1602,0.25,0.375000,0,0.088543,2,2,4,1,2,1,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1603,0.25,0.156250,1,0.074040,0,3,3,0,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1604,0.25,0.531250,0,0.084503,2,1,5,0,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1605,0.25,0.515625,0,0.075430,2,3,5,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1

In [53]:
x_balanced = [i for i in list(shuffled_df.columns) if i != 'FraudFound_P']
y_balanced = ['FraudFound_P']

In [73]:
# X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.80, random_state=19, stratify=y)
X_train, X_val, y_train, y_val = train_test_split(shuffled_df[x_balanced], shuffled_df[y_balanced], test_size=0.20, random_state=19)

In [74]:
X_train.shape

(1284, 45)

In [75]:
X_val.shape

(322, 45)

In [76]:
X_test.shape

(1510, 45)

In [77]:
y_train['FraudFound_P'].sum()

634

# Machine Learning Model Training

In [78]:
# for data preparation
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from copy import deepcopy

# machine learning models
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from xgboost import XGBClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.ensemble import VotingClassifier, RandomForestClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier

# for evaluation of machine learning models
from sklearn.metrics import accuracy_score, recall_score, fbeta_score, precision_score
from sklearn.metrics import confusion_matrix, classification_report
from imblearn.metrics import geometric_mean_score

import warnings
warnings.filterwarnings('ignore')

In [79]:
def evaluate_results(y_test, y_pred):
    '''
    This is a helper function that we will call to print basic results statistics.
    '''
    # Create confusion matrix of validation data
    cm = confusion_matrix(y_test, y_pred)
    TN, FP, FN, TP = cm.ravel()
    print("Confusion Matrix: \n", cm)
    print("TN: %s, FP: %s, FN: %s, TP: %s" %(TN, FP, FN, TP))
    print("\n")

    # Evaluation Statistics
    # Performance of decision tree model on validation data
    print("Precision: ", precision_score(y_test, y_pred))
    print("Recall: ", recall_score(y_test, y_pred))
    print("F2: ", fbeta_score(y_test, y_pred, beta=2))
    print("G-Mean: ", geometric_mean_score(y_test, y_pred))

In [80]:
def train_model(X_train, X_test, y_train, y_test, classifier):

    # build model on train set
    C = classifier
    C.fit(X_train, y_train)

    # predict on validation set
    y_preds = C.predict(X_test)

    # Evaluate results
    evaluate_results(y_test, y_preds)

# Training model without handling imbalance data

## Logistic Regression

In [81]:
LR = LogisticRegression(random_state=19)

In [82]:
train_model(X_train, X_val, y_train, y_val, LR)

Confusion Matrix:
 [[ 97  56]
 [ 15 154]]
TN: 97, FP: 56, FN: 15, TP: 154


Precision:  0.7333333333333333
Recall:  0.9112426035502958
F2:  0.8690744920993227
G-Mean:  0.7600762455062434

## Linear SVC

In [83]:
svc = LinearSVC(random_state=19)

In [84]:
train_model(X_train, X_val, y_train, y_val, svc)

Confusion Matrix:
 [[ 96  57]
 [ 14 155]]
TN: 96, FP: 57, FN: 14, TP: 155


Precision:  0.7311320754716981
Recall:  0.9171597633136095
F2:  0.8727477477477478
G-Mean:  0.7585992306002971

## XBG Classifier

In [85]:
xgb = XGBClassifier(random_state=19)

In [86]:
train_model(X_train, X_val, y_train, y_val, xgb)

Confusion Matrix:
 [[105  48]
 [ 40 129]]
TN: 105, FP: 48, FN: 40, TP: 129


Precision:  0.7288135593220338
Recall:  0.7633136094674556
F2:  0.7561547479484173
G-Mean:  0.7237697653010522

## Random Forest

In [87]:
rf = RandomForestClassifier(random_state=19)

In [88]:
train_model(X_train, X_val, y_train, y_val, rf)

Confusion Matrix:
 [[103  50]
 [ 24 145]]
TN: 103, FP: 50, FN: 24, TP: 145


Precision:  0.7435897435897436
Recall:  0.8579881656804734
F2:  0.8323765786452354
G-Mean:  0.7599999185805287

## AdaBoost

In [89]:
adb = AdaBoostClassifier(random_state=19)

In [90]:
train_model(X_train, X_val, y_train, y_val, adb)

Confusion Matrix:
 [[100  53]
 [ 29 140]]
TN: 100, FP: 53, FN: 29, TP: 140


Precision:  0.7253886010362695
Recall:  0.8284023668639053
F2:  0.8055235903337168
G-Mean:  0.7358256963891685

## Voting Classifier

In [91]:
vc = VotingClassifier(
    estimators=[('XGB',xgb),('LR',LR), ('SVC', svc), ('RF', rf), ('Ada', adb)],
    voting='hard'
)

In [92]:
train_model(X_train, X_val, y_train, y_val, vc)

Confusion Matrix:
 [[ 98  55]
 [ 18 151]]
TN: 98, FP: 55, FN: 18, TP: 151


Precision:  0.7330097087378641
Recall:  0.893491124260355
F2:  0.8560090702947846
G-Mean:  0.756506116583469

In [93]:
vc = VotingClassifier(
    estimators=[('XGB',xgb), ('RF', rf), ('Ada', adb)],
    voting='hard'
)

In [95]:
train_model(X_train, X_val, y_train, y_val, vc)

Confusion Matrix:
 [[102  51]
 [ 21 148]]
TN: 102, FP: 51, FN: 21, TP: 148


Precision:  0.7437185929648241
Recall:  0.8757396449704142
F2:  0.8457142857142859
G-Mean:  0.7640853551667354

# Imbalance Data Handling

In [96]:
# imblean provides tools for us to deal with imbalanced class sizes
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import EditedNearestNeighbours
from imblearn.combine import SMOTEENN

In [97]:
def get_sample_SMOTE(X_train, y_train, sampling):
    smote_only = SMOTE(random_state=19, sampling_strategy=sampling)
    X_res_smote, y_res_smote = smote_only.fit_resample(X_train, y_train)
    return X_res_smote, y_res_smote

In [98]:
def get_sample_SMOTEENN(X_train, y_train, neighbour, sampling):
    ennObj = EditedNearestNeighbours(n_neighbors=neighbour)
    smote_only = SMOTE(random_state=19, sampling_strategy=sampling)
    smote_enn = SMOTEENN(smote=smote_only , enn= ennObj)
    X_res_smoteENN, y_res_smoteENN = smote_enn.fit_resample(X_train, y_train)
    return X_res_smoteENN, y_res_smoteENN

In [99]:
def train_data_with_SMOTE_val(X_train, X_val, y_train, y_val, sampling, classifier):

    X_test = X_val
    y_test = y_val

    smote_only = SMOTE(random_state=19, sampling_strategy=sampling)
    X_res_smote, y_res_smote = smote_only.fit_resample(X_train, y_train)

    clf = classifier
    clf.fit(X_res_smote, y_res_smote)

    # predict on validation set
    y_preds = clf.predict(X_test)


    # Evaluate results
    evaluate_results(y_test, y_preds)
    Precision = precision_score(y_test, y_preds)
    F2 = fbeta_score(y_test, y_preds, beta=2)
    Recall = recall_score(y_test, y_preds)
    Gmean = geometric_mean_score(y_test, y_preds)
    return Precision, Recall, F2, Gmean

In [100]:
def train_data_with_SMOTEENN_val(X_train, X_val, y_train, y_val, neighbour, sampling, classifier):

    ennObj = EditedNearestNeighbours(n_neighbors=neighbour)
    smote_only = SMOTE(random_state=19, sampling_strategy=sampling)
    smote_enn = SMOTEENN(smote=smote_only , enn= ennObj)
    X_res_smoteENN, y_res_smoteENN = smote_enn.fit_resample(X_train, y_train)

    clf = classifier
    clf.fit(X_res_smoteENN, y_res_smoteENN)

    # predict on validation set
    y_preds = clf.predict(X_val)

    # Evaluate results
    evaluate_results(y_val, y_preds)
    Precision = precision_score(y_val, y_preds)
    F2 = fbeta_score(y_val, y_preds, beta=2)
    Recall = recall_score(y_val, y_preds)
    Gmean = geometric_mean_score(y_val, y_preds)
    return Precision, Recall, F2, Gmean

In [101]:
def train_data_with_weights_val(X_train, X_val, y_train, y_val, classifier):

    X_test = X_val
    y_test = y_val

    clf = classifier
    clf.fit(X_train, y_train)

    # predict on validation set
    y_preds = clf.predict(X_test)

    # Evaluate results
    evaluate_results(y_test, y_preds)
    Precision = precision_score(y_test, y_preds)
    F2 = fbeta_score(y_test, y_preds, beta=2)
    Recall = recall_score(y_test, y_preds)
    Gmean = geometric_mean_score(y_test, y_preds)
    return Precision, Recall, F2, Gmean

In [102]:
def get_performance_visualisation(method, X_train, X_val, y_train, y_val, classifier, neighbour=5):
    Precision_lst, F2_lst, Recall_lst, resampling, Gmean_lst = [], [], [], [], []
    if method == "SMOTEENN":
        resampling = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8]
        for sampling in resampling:
            print("Sampling Size:", sampling)
            print()
            Precision, Recall, F2, Gmean = train_data_with_SMOTEENN_val(X_train, X_val, y_train, y_val, neighbour, sampling, classifier)
            Precision_lst.append(Precision)
            F2_lst.append(F2)
            Recall_lst.append(Recall)
            Gmean_lst.append(Gmean)
            print()
        df = pd.DataFrame(columns=['Precision','F2 Score','Recall', 'G-mean'])
        df['Precision'] = Precision_lst
        df['F2 Score'] = F2_lst
        df['Recall'] = Recall_lst
        df['G-mean'] = Gmean_lst
        df['Sampling Size'] = resampling
        df.plot(x='Sampling Size',
            y=['Precision','F2 Score','Recall', 'G-mean'],
            title= 'Resampling Performance',
               ylim=(0,1))

    elif method == "SMOTE":
        resampling = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
        for sampling in resampling:
            print("Sampling Size:", sampling)
            print()
            Precision, Recall, F2, Gmean = train_data_with_SMOTE_val(X_train, X_val, y_train, y_val, sampling, classifier)
            Precision_lst.append(Precision)
            F2_lst.append(F2)
            Recall_lst.append(Recall)
            Gmean_lst.append(Gmean)
            print()
        df = pd.DataFrame(columns=['Precision','F2 Score','Recall','G-mean'])
        df['Precision'] = Precision_lst
        df['F2 Score'] = F2_lst
        df['Recall'] = Recall_lst
        df['G-mean'] = Gmean_lst
        df['Sampling Size'] = resampling
        df.plot(x='Sampling Size',
            y=['Precision','F2 Score','Recall','G-mean'],
            title= 'Resampling Performance',
               ylim=(0,1))
    df.to_csv(f'{classifier.__module__}_{method}.csv')
    return df

In [103]:
def get_performance_weighing(method, X_train, X_val, y_train, y_val, classifier):
    Precision_lst, F2_lst, Recall_lst, Gmean_lst = [], [], [], []
    if method == "scale":
        for i in [1,2,3,4,5,6,7,8,9,10]:
            print("Sampling Size:", i)
            print()
            clf = classifier(random_state=19, scale_pos_weight=i)
            Precision, Recall, F2, Gmean = train_data_with_weights_val(X_train, X_val, y_train, y_val, clf)
            Precision_lst.append(Precision)
            F2_lst.append(F2)
            Recall_lst.append(Recall)
            Gmean_lst.append(Gmean)
            print()
    elif method == 'dict':
         for i in [1,2,3,4,5,6,7,8,9,10]:
            print("Sampling Size:", i)
            print()
            clf = classifier(random_state=19, class_weight = {0:1, 1:i})
            Precision, Recall, F2, Gmean = train_data_with_weights_val(X_train, X_val, y_train, y_val, clf)
            Precision_lst.append(Precision)
            F2_lst.append(F2)
            Recall_lst.append(Recall)
            Gmean_lst.append(Gmean)
            print()
    df = pd.DataFrame(columns=['Precision','F2 Score','Recall','G-mean'])
    df['Precision'] = Precision_lst
    df['F2 Score'] = F2_lst
    df['Recall'] = Recall_lst
    df['G-mean'] = Gmean_lst
    df['Minority Weight'] = [1,2,3,4,5,6,7,8,9,10]
    df.plot(x='Minority Weight',
           y=['Precision','F2 Score','Recall','G-mean'],
           title= 'Resampling Performance',
           ylim=(0,1))
    df.to_csv(f'{classifier.__module__}_{method}.csv')
    return df

### XGB Classifier

In [104]:
get_performance_visualisation("SMOTE", X_train, X_val, y_train, y_val, XGBClassifier(random_state=19))

Sampling Size: 0.1

ValueError: The specified ratio required to remove samples from the minority class while trying to generate new samples. Please increase the ratio.

In [ ]:
get_performance_visualisation("SMOTEENN", X_train, X_val, y_train, y_val, XGBClassifier(random_state=19))

In [ ]:
get_performance_weighing('scale', X_train, X_val, y_train, y_val, XGBClassifier)

### Logistic Regression

In [ ]:
get_performance_visualisation("SMOTE", X_train, X_val, y_train, y_val, LogisticRegression(random_state=19))

In [ ]:
get_performance_visualisation("SMOTEENN", X_train, X_val, y_train, y_val, LogisticRegression(random_state=19))

In [ ]:
get_performance_weighing('dict',X_train, X_val, y_train, y_val, LogisticRegression)

In [ ]:
newLR = LogisticRegression(class_weight="balanced", random_state=19)
newLR.fit(X_train, y_train)
y_pred = newLR.predict(X_val)
evaluate_results(y_val, y_pred)

### Linear SVC

In [ ]:
get_performance_visualisation("SMOTE", X_train, X_val, y_train, y_val, LinearSVC(random_state=19))

In [ ]:
get_performance_visualisation("SMOTEENN", X_train, X_val, y_train, y_val, LinearSVC(random_state=19))

In [ ]:
get_performance_weighing('dict',X_train, X_val, y_train, y_val, LinearSVC)

In [ ]:
newSVC = LinearSVC(class_weight="balanced", random_state=19)
newSVC.fit(X_train, y_train)
y_pred = newSVC.predict(X_val)
evaluate_results(y_val, y_pred)

## Random Forest

In [ ]:
get_performance_visualisation("SMOTE", X_train, X_val, y_train, y_val, RandomForestClassifier(random_state=19))

In [ ]:
get_performance_visualisation("SMOTEENN", X_train, X_val, y_train, y_val, RandomForestClassifier(random_state=19))

In [ ]:
get_performance_weighing('dict',X_train, X_val, y_train, y_val, RandomForestClassifier)

In [ ]:
newrf = RandomForestClassifier(class_weight="balanced", random_state=19)
newrf.fit(X_train, y_train)
y_pred = newrf.predict(X_val)
evaluate_results(y_val, y_pred)

## AdaBoost Classifier

In [ ]:
get_performance_visualisation("SMOTE", X_train, X_val, y_train, y_val, AdaBoostClassifier(random_state=19))

In [ ]:
get_performance_visualisation("SMOTEENN", X_train, X_val, y_train, y_val, AdaBoostClassifier(random_state=19))

##  Using Class Weighing on Voting Classifier

In [ ]:
vc_class = VotingClassifier(
    estimators=[('LinearSVC',LinearSVC(random_state=19)),
                ('XGB',XGBClassifier(random_state=19)),
                ('LR',LogisticRegression(random_state=19))],
    voting='hard'
)

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_val, y_train, y_val,5,0.8, vc_class)

In [ ]:
vc_class_2 = VotingClassifier(
    estimators=[('LinearSVC',LinearSVC(random_state=19)),
                ('XGB',XGBClassifier(random_state=19)),
                ('LR',LogisticRegression(random_state=19)),
               ('RF',RandomForestClassifier(random_state=19)),
               ('Ada',AdaBoostClassifier(random_state=19))],
    voting='hard'
)

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_val, y_train, y_val,5,0.8, vc_class_2)

In [ ]:
vc_class_3 = VotingClassifier(
    estimators=[('XGB',XGBClassifier(random_state=19)),
               ('RF',RandomForestClassifier(random_state=19)),
               ('Ada',AdaBoostClassifier(random_state=19))],
    voting='hard'
)

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_val, y_train, y_val,5,0.8, vc_class_3)

# Hyper parameter tuning for XGB

In [ ]:
# hyperopt - used for Bayesian hyperparameter tuning
from hyperopt import hp, fmin, tpe, STATUS_OK, Trials
from hyperopt.pyll import scope

# for timing
from time import time
from tqdm import tqdm

import os
import pickle

In [ ]:
def evaluate_F2(X_train, X_val, y_train, y_val, classifier, sampling):

    ennObj = EditedNearestNeighbours(n_neighbors=5)
    smote_only = SMOTE(random_state=19, sampling_strategy=sampling)
    smote_enn = SMOTEENN(smote=smote_only , enn= ennObj)
    X_res_smoteENN, y_res_smoteENN = smote_enn.fit_resample(X_train, y_train)

    clf = classifier
    clf.fit(X_res_smoteENN, y_res_smoteENN)

    # predict on validation set
    y_preds = clf.predict(X_val)

    # Evaluate results
    F2 = fbeta_score(y_val, y_preds, beta=2)
    return F2

In [ ]:
def hyperopt(param_space, num_eval, classifier, use_scaling = False):
    start = time()
    def objective_function(params):
        clf = classifier(**params)

        if use_scaling: clf = scale_classifier(clf)
        score = evaluate_F2(X_train, X_val, y_train, y_val, clf, 0.8)

        return {'loss': -score, 'status': STATUS_OK}
    trials = Trials()
    best_param = fmin(objective_function, param_space, algo=tpe.suggest, max_evals=num_eval,
                      trials=trials)
    loss = [x['result']['loss'] for x in trials.trials]
    best_param_values = best_param
    #print(loss)
    return trials, best_param_values

In [ ]:
# XGB Bayesian hyperopt

num_eval = 100

XGB_param_hyperopt = {
    'booster': hp.choice('booster', ['dart','gbtree']),
    'learning_rate': hp.uniform('learning_rate', 0.05, 0.5),
    'max_depth': scope.int(hp.quniform('max_depth', 1, 20, 1)),
    'subsample': hp.uniform('subsample', 0.1, 0.5),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.2, 0.7),
    'colsample_bynode': hp.uniform('colsample_bynode', 0.1, 0.8),
    'colsample_bylevel': hp.uniform('colsample_bylevel', 0.1, 0.4),
    'gamma': hp.uniform('gamma', 1, 20),
    'min_child_weight': hp.uniform('min_child_weight', 1.5, 2.5),
    'n_estimators': scope.int(hp.quniform('n_estimators', 50, 550, 20)),
    'reg_lambda': hp.uniform('reg_lambda', 1, 6),
    'reg_alpha':hp.uniform('reg_alpha', 0.02, 0.1),
    'scale_pos_weight':hp.uniform('scale_pos_weight', 1, 10)
}

if not os.path.exists('TuningFS'): os.mkdir('TuningFS')

def save_file(path, data):
    output = open(path, 'wb')
    pickle.dump(data, output)
    output.close()

def load_file(path):
    pkl_file = open(path, 'rb')
    data = pickle.load(pkl_file)
    pkl_file.close()
    return data

In [ ]:
load = False #put load = True if you don't want to load the whole thing again
if(load == False):
    XGB_hyperopt = hyperopt(XGB_param_hyperopt,  num_eval, XGBClassifier)
    save_file('TuningFS/XGB_hyperopt_BL.pkl', XGB_hyperopt)
else:
    try:
        XGB_hyperopt = load_file('TuningFS/XGB_hyperopt_BL.pkl')
    except Exception as e:
        print(e)

In [ ]:
XGB_hyperopt[1]

In [ ]:
trials = XGB_hyperopt[0].trials
import json

record = []
losses = []
for trial in trials:
    loss = trial["result"]["loss"]
    values = trial["misc"]['vals']

    losses.append(loss)
    record.append(values)

bayesTrialsData = pd.DataFrame(record)

bayesTrialsData.insert(0, 'loss', losses)

In [ ]:
bayesTrialsData.sort_values(by='loss')

In [ ]:
xg_chosen = XGB_hyperopt[1]

xgboost_model_1   =   XGBClassifier(booster=['dart','gbtree'][xg_chosen['booster']],
                                  colsample_bytree=xg_chosen['colsample_bytree'],
                                  colsample_bynode = xg_chosen['colsample_bynode'],
                                  colsample_bylevel = xg_chosen['colsample_bylevel'],
                                  n_estimators = int(xg_chosen['n_estimators']),
                                  reg_alpha = xg_chosen['reg_alpha'],
                                  reg_lambda = xg_chosen['reg_lambda'],
                                  max_depth=int(xg_chosen['max_depth']),
                                  subsample = xg_chosen['subsample'],
                                  gamma = xg_chosen['gamma'],
                                  min_child_weight = xg_chosen['min_child_weight'],
                                  scale_pos_weight = xg_chosen['scale_pos_weight'],
                                  learning_rate=xg_chosen['learning_rate'],
                                  random_state=19)

In [ ]:
xgboost_model_1

## Second Round of Tuning for XGB

In [ ]:
# parameters = xg_chosen.keys()

In [ ]:
# sorted_results = bayesTrialsData.sort_values('loss')
# sorted_results

In [ ]:
# sorted_results.reset_index(inplace=True)

In [ ]:
# sorted_results

In [ ]:
# sorted_results.drop('index',axis=1,inplace=True)

In [ ]:
# top_10 = sorted_results.iloc[0:10]
# top_10

In [ ]:
# for i in parameters:
#     minimum = top_10[i].min()
#     maximum = top_10[i].max()
#     print(i,'Min:',minimum,'Max:',maximum)

In [ ]:
# # XGB Bayesian hyperopt2

# num_eval_2 = 100


# XGB_param_hyperopt2 = {
#     'booster': hp.choice('booster', ['gbtree']),
#     'learning_rate': hp.uniform('learning_rate', top_10['learning_rate'].min()[0], top_10['learning_rate'].max()[0]),
#     'max_depth': scope.int(hp.quniform('max_depth', top_10['max_depth'].min()[0], top_10['max_depth'].max()[0], 1)),
#     'subsample': hp.uniform('subsample', top_10['subsample'].min()[0], top_10['subsample'].max()[0]),
#     'colsample_bytree': hp.uniform('colsample_bytree', top_10['colsample_bytree'].min()[0], top_10['colsample_bytree'].max()[0]),
#     'colsample_bynode': hp.uniform('colsample_bynode', top_10['colsample_bynode'].min()[0], top_10['colsample_bynode'].max()[0]),
#     'colsample_bylevel': hp.uniform('colsample_bylevel', top_10['colsample_bylevel'].min()[0], top_10['colsample_bylevel'].max()[0]),
#     'gamma': hp.uniform('gamma', top_10['gamma'].min()[0], top_10['gamma'].max()[0]),
#     'min_child_weight': hp.uniform('min_child_weight', top_10['min_child_weight'].min()[0], top_10['min_child_weight'].max()[0]),
#     'n_estimators': scope.int(hp.quniform('n_estimators', top_10['n_estimators'].min()[0], top_10['n_estimators'].max()[0], 20)),
#     'reg_lambda': hp.uniform('reg_lambda', top_10['reg_lambda'].min()[0], top_10['reg_lambda'].max()[0]),
#     'reg_alpha':hp.uniform('reg_alpha', top_10['reg_alpha'].min()[0], top_10['reg_alpha'].max()[0]),
#     'scale_pos_weight':hp.uniform('scale_pos_weight', top_10['scale_pos_weight'].min()[0], top_10['scale_pos_weight'].max()[0])
# }

# if not os.path.exists('TuningFS'): os.mkdir('TuningFS')

# def save_file(path, data):
#     output = open(path, 'wb')
#     pickle.dump(data, output)
#     output.close()

# def load_file(path):
#     pkl_file = open(path, 'rb')
#     data = pickle.load(pkl_file)
#     pkl_file.close()
#     return data

In [ ]:
# load = False
# if(load == False):
#     XGB_hyperopt2 = hyperopt(XGB_param_hyperopt2,  num_eval_2, XGBClassifier)
#     save_file('TuningFS/XGB_hyperopt2.pkl', XGB_hyperopt2)
# else:
#     try:
#         XGB_hyperopt2 = load_file('TuningFS/XGB_hyperopt2.pkl')
#     except Exception as e:
#         print(e)

In [ ]:
# xg_chosen2 = XGB_hyperopt2[1]
# xg_chosen2

In [ ]:
# trials = XGB_hyperopt2[0].trials
# import json

# record = []
# losses = []
# for trial in trials:
#     loss = trial["result"]["loss"]
#     values = trial["misc"]['vals']
#     #print(loss,values)
#     losses.append(loss)
#     record.append(values)

# bayesTrialsData2 = pd.DataFrame(record)

# #if you have time try to make this part of the code more "pandas-like" - I just did an iteration for this
# # I left the values as list.

# bayesTrialsData2.insert(0, 'loss', losses)

In [ ]:
# bayesTrialsData2.sort_values(by='loss')

In [ ]:
# xg_chosen2 = XGB_hyperopt2[1]

# xgboost_model_2   =   XGBClassifier(booster=['gbtree'][xg_chosen2['booster']],
#                                   colsample_bytree=xg_chosen2['colsample_bytree'],
#                                   colsample_bynode = xg_chosen2['colsample_bynode'],
#                                   colsample_bylevel = xg_chosen2['colsample_bylevel'],
#                                   n_estimators = int(xg_chosen2['n_estimators']),
#                                   reg_alpha = xg_chosen2['reg_alpha'],
#                                   reg_lambda = xg_chosen2['reg_lambda'],
#                                   max_depth=int(xg_chosen2['max_depth']),
#                                   subsample = xg_chosen2['subsample'],
#                                   gamma = xg_chosen2['gamma'],
#                                   min_child_weight = xg_chosen2['min_child_weight'],
#                                   scale_pos_weight = xg_chosen2['scale_pos_weight'],
#                                   learning_rate=xg_chosen2['learning_rate'],
#                                   random_state=19)

In [ ]:
# xgboost_model_2.get_xgb_params()

In [ ]:
# xgboost_model_2

### Model without tuning

In [ ]:
train_model(X_train, X_test, y_train, y_test, XGBClassifier(random_state=19))

### Model without tuning but with imbalance handling

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test, 5, 0.8, XGBClassifier(random_state=19))

### 1st Round Tuning

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test, 5, 0.8, xgboost_model_1)

### 2nd Round Tuning

In [ ]:
# train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test, 5, 0.8, xgboost_model_2)

### Feature Importance

In [ ]:
feature_weight = xgboost_model_1.feature_importances_

In [ ]:
weight_df = pd.DataFrame(feature_weight,index = x_var, columns=['weights'])

In [ ]:
weight_df.sort_values('weights', ascending=False)

In [ ]:
from xgboost import plot_importance
plot_importance(xgboost_model_1)

## Hyper Parameter Tuning for LR

In [ ]:
num_eval = 100

LR_param_hyperopt = {
            'warm_start' : hp.choice('warm_start', [True, False]),
            'fit_intercept' : hp.choice('fit_intercept', [True, False]),
            'tol' : hp.uniform('tol', 0.00001, 0.0001),
            'C' : hp.uniform('C', 0.05, 3),
            'solver' : hp.choice('solver', ['lbfgs','newton-cg','liblinear','sag', 'saga']),
            'max_iter' : hp.choice('max_iter', range(100,1000)),
            'multi_class' : 'auto',
            'class_weight' : 'balanced',
}

In [ ]:
load = False
if(load == False):
    LR_hyperopt1 = hyperopt(LR_param_hyperopt,  num_eval, LogisticRegression)
    save_file('TuningFS/LR_hyperopt1_BL.pkl', LR_hyperopt1)
else:
    try:
        LR_hyperopt1 = load_file('TuningFS/LR_hyperopt1_BL.pkl')
    except Exception as e:
        print(e)

In [ ]:
LR_hyperopt1[1]

In [ ]:
trials = LR_hyperopt1[0].trials
import json

record = []
losses = []
for trial in trials:
    loss = trial["result"]["loss"]
    values = trial["misc"]['vals']

    losses.append(loss)
    record.append(values)

bayesTrialsData = pd.DataFrame(record)

bayesTrialsData.insert(0, 'loss', losses)

In [ ]:
bayesTrialsData.sort_values(by='loss')

In [ ]:
lr_chosen = LR_hyperopt1[1]

LR_model_1   =   LogisticRegression(warm_start=[True, False][lr_chosen['warm_start']],
                                    fit_intercept=[True, False][lr_chosen['fit_intercept']],
                                    tol= lr_chosen['tol'],
                                    C=lr_chosen['C'],
                                    solver=['lbfgs','newton-cg','liblinear','sag', 'saga'][lr_chosen['solver']],
                                    max_iter=lr_chosen['max_iter'],
                                    multi_class='auto',
                                    class_weight='balanced',
                                    random_state=19)

In [ ]:
LR_model_1

### Model without tuning

In [ ]:
train_model(X_train, X_test, y_train, y_test, LogisticRegression(random_state=19))

### Model without tuning but with imbalance handling

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,LogisticRegression(random_state=19))

### Model with tuning

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,LR_model_1)

## Hyper Parameter Tuning for SVC

In [ ]:
num_eval = 100

SVC_param_hyperopt = {
            'fit_intercept' : hp.choice('fit_intercept', [True, False]),
            'tol' : hp.uniform('tol', 0.00001, 0.0001),
            'C' : hp.uniform('C', 0.05, 3),
            'max_iter' : hp.choice('max_iter', range(100,1000)),
            'class_weight' : 'balanced',
                }

In [ ]:
load = False
if(load == False):
    SVC_hyperopt1 = hyperopt(SVC_param_hyperopt,  num_eval, LinearSVC)
    save_file('TuningFS/SVC_hyperopt1_BL.pkl', SVC_hyperopt1)
else:
    try:
        SVC_hyperopt1 = load_file('TuningFS/SVC_hyperopt1_BL.pkl')
    except Exception as e:
        print(e)

In [ ]:
SVC_hyperopt1[1]

In [ ]:
trials = SVC_hyperopt1[0].trials
import json

record = []
losses = []
for trial in trials:
    loss = trial["result"]["loss"]
    values = trial["misc"]['vals']

    losses.append(loss)
    record.append(values)

bayesTrialsData = pd.DataFrame(record)

bayesTrialsData.insert(0, 'loss', losses)

In [ ]:
bayesTrialsData.sort_values(by='loss')

In [ ]:
SVC_chosen = SVC_hyperopt1[1]

SVC_model_1   =   LinearSVC(fit_intercept=[True, False][SVC_chosen['fit_intercept']],
                                    tol= SVC_chosen['tol'],
                                    C=SVC_chosen['C'],
                                    max_iter=SVC_chosen['max_iter'],
                                    class_weight='balanced',
                                    random_state=19)

In [ ]:
SVC_model_1

### Model Without Tuning

In [ ]:
train_model(X_train, X_test, y_train, y_test, LinearSVC(random_state=19))

### Model without tuning but with imbalance handling

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,LinearSVC(random_state=19))

### Model With Tuning

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,SVC_model_1)

## Random Forest Tuning

In [ ]:
num_eval = 100

RF_param_hyperopt = {
    'warm_start' : hp.choice('warm_start', [True, False]),
    'criterion': hp.choice('criterion', ["gini", "entropy"]),
    'bootstrap': True,
    'max_features': hp.choice('max_features', ["sqrt", "log2", None]),
    'max_depth': scope.int(hp.quniform('max_depth', 1, 20, 1)),
    'max_samples': scope.int(hp.quniform('max_samples', 1, 20, 1)),
    'min_samples_split': scope.int(hp.quniform('min_samples_split', 2, 20, 1)),
    'min_samples_leaf': scope.int(hp.quniform('min_samples_leaf', 1, 20, 1)),
    'n_estimators': scope.int(hp.quniform('n_estimators', 50, 550, 20)),
    'class_weight':'balanced'
}

In [ ]:
load = False
if(load == False):
    RF_hyperopt1 = hyperopt(RF_param_hyperopt,  num_eval, RandomForestClassifier)
    save_file('TuningFS/RF_hyperopt1_BL.pkl', RF_hyperopt1)
else:
    try:
        RF_hyperopt1 = load_file('TuningFS/RF_hyperopt1_BL.pkl')
    except Exception as e:
        print(e)

In [ ]:
RF_hyperopt1[1]

In [ ]:
trials = RF_hyperopt1[0].trials
import json

record = []
losses = []
for trial in trials:
    loss = trial["result"]["loss"]
    values = trial["misc"]['vals']

    losses.append(loss)
    record.append(values)

bayesTrialsData = pd.DataFrame(record)

bayesTrialsData.insert(0, 'loss', losses)

In [ ]:
bayesTrialsData.sort_values(by='loss')

In [ ]:
rf_chosen = RF_hyperopt1[1]


rf_model_1   =   RandomForestClassifier(warm_start=[True, False][rf_chosen['warm_start']],
                                  criterion=["gini", "entropy"][rf_chosen['criterion']],
                                  bootstrap = True,
                                  max_features = ["sqrt", "log2", None][rf_chosen['max_features']],
                                  max_depth = int(rf_chosen['max_depth']),
                                  max_samples = int(rf_chosen['max_samples']),
                                  min_samples_split = int(rf_chosen['min_samples_split']),
                                  min_samples_leaf=int(rf_chosen['min_samples_leaf']),
                                  n_estimators = int(rf_chosen['n_estimators']),
                                  class_weight = 'balanced',
                                  random_state=19)

In [ ]:
rf_model_1

### Model without tuning

In [ ]:
train_model(X_train, X_test, y_train, y_test, RandomForestClassifier(random_state=19))

### Model without tuning but with imbalance handling

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,RandomForestClassifier(random_state=19))

### Model with tuning

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,rf_model_1)

## AdaBoost

In [ ]:
num_eval = 100

ADA_param_hyperopt = {
    'learning_rate': hp.uniform('learning_rate', 0.05, 0.5),
    'n_estimators': scope.int(hp.quniform('n_estimators', 50, 550, 20)),
}

In [ ]:
load = False
if(load == False):
    ADA_hyperopt1 = hyperopt(ADA_param_hyperopt,  num_eval, AdaBoostClassifier)
    save_file('TuningFS/ADA_hyperopt1_BL.pkl', ADA_hyperopt1)
else:
    try:
        ADA_hyperopt1 = load_file('TuningFS/ADA_hyperopt1_BL.pkl')
    except Exception as e:
        print(e)

In [ ]:
ADA_hyperopt1[1]

In [ ]:
trials = ADA_hyperopt1[0].trials
import json

record = []
losses = []
for trial in trials:
    loss = trial["result"]["loss"]
    values = trial["misc"]['vals']

    losses.append(loss)
    record.append(values)

bayesTrialsData = pd.DataFrame(record)

bayesTrialsData.insert(0, 'loss', losses)

In [ ]:
bayesTrialsData.sort_values(by='loss')

In [ ]:
ada_chosen = ADA_hyperopt1[1]


ada_model_1   =   AdaBoostClassifier(learning_rate=ada_chosen['learning_rate'],
                                    n_estimators = int(ada_chosen['n_estimators']),
                                    random_state=19)

In [ ]:
ada_model_1

## Model without tuning

In [ ]:
train_model(X_train, X_test, y_train, y_test, AdaBoostClassifier(random_state=19))

## Model without tuning but with imbalance handling

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,AdaBoostClassifier(random_state=19))

# Model with tuning

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,ada_model_1)

# Voting Classifier with tuned models

### Model Without Tuning

In [ ]:
vc1 = VotingClassifier(
    estimators=[('LinearSVC',LinearSVC(random_state=19)),
                ('XGB',XGBClassifier(random_state=19)),
                ('LR',LogisticRegression(random_state=19)),
               ('RF',RandomForestClassifier(random_state=19)),
               ('Ada',AdaBoostClassifier(random_state=19))],
    voting='hard'
)

In [ ]:
train_model(X_train, X_test, y_train, y_test, vc1)

### Model without tuning but with imbalance handling

In [ ]:
vc2 = VotingClassifier(
    estimators=[('LinearSVC',LinearSVC(random_state=19)),
                ('XGB',XGBClassifier(random_state=19)),
                ('LR',LogisticRegression(random_state=19)),
                ('RF',RandomForestClassifier(random_state=19)),
                ('Ada',AdaBoostClassifier(random_state=19))],
    voting='hard'
)

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,vc2)

### Model with Tuning

In [ ]:
vc3 = VotingClassifier(
    estimators=[('XGB',xgboost_model_1),
                ('LR',LR_model_1),
                ('LinearSVC', SVC_model_1),
                ('RF',rf_model_1),
                ('Ada',ada_model_1)],                
    voting='hard'
)

In [ ]:
train_data_with_SMOTEENN_val(X_train, X_test, y_train, y_test,5,0.8,vc3)

In [ ]:
vc3